AccessModifierOffset: -4
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ColumnLimit: 95
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:	"\".+\""
    Priority:	1
  - Regex:	"<[^/]+>"
    Priority:	2
  - Regex:	"<.+(?:\\.h|\\.hpp)>"
    Priority:	3
IndentCaseLabels: true
IndentWidth: 4
PointerAlignment: Left
SortIncludes: CaseSensitive
SortUsingDeclarations: true
TabWidth: 4
UseTab: Always