IndentWidth: 4
TabWidth: 4
ColumnLimit: 95
UseTab: Always
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AccessModifierOffset: -4
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:	"\".+\""
    Priority:	1
  - Regex:	"<[^/]+>"
    Priority:	2
  - Regex:	"<.+(?:\\.h|\\.hpp)>"
    Priority:	3
IndentCaseLabels: true
PointerAlignment: Left
