[submodule "src/HindsightCAN"]
	path = src/HindsightCAN
	url = https://github.com/huskyroboticsteam/HindsightCAN.git
[submodule "src/simulator"]
	path = src/simulator
	url = https://github.com/huskyroboticsteam/PlanarSimulator
