build/*
src/Pathfinding/a.out
.vscode
MapObstacle.h
.idea
3.4.7.zip
opencv-3.4.7/
CMakeCache.txt
Makefile
CMakeFiles
*.cmake
*.swp
.DS_Store
/docs/

# Object detection large files
src/object-detection/*.pt
src/object-detection/*.jpg
src/object-detection/*.png
