# Example udev rule for a webcam. We should make sure that the videoN
# ids are unique, and match those in the .yml files.
#
# To help write these rules, try running:
#   udevadm info -a --name /dev/video0
#
# Install this in /etc/udev/rules.d

# Hand camera
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="6369", ATTR{index}=="0", SYMLINK+="video20"

# Forearm camera
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="9230", ATTR{index}=="0", SYMLINK+="video30"

# Mast camera
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9230", ATTR{index}=="0", SYMLINK+="video40"