name: C/C++ CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install dependencies from APT
      run: |
        cd ${{ github.workspace }}
        ./easy_install.sh
    - name: Build codebase
      run: |
        cd ${{ github.workspace }}
        mkdir build && cd build && cmake ../src && cmake --build . -j$(nproc)
    - name: Run tests
      run: |
        cd build && ./tests
