name: C/C++ CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Install dependencies from APT
      run: |
        cd ${{ github.workspace }}
        ./easy_install.sh
    - name: Build codebase
      run: |
        cd ${{ github.workspace }}
        mkdir build && cd build && cmake ../src && cmake --build . -j$(nproc)
    - name: Run tests
      run: |
        cd build && ./tests
    - name: Build codebase (for sim)
      run: |
        cd ${{ github.workspace }}
        cd build && cmake ../src -DWORLD_INTERFACE=SIMULATOR && cmake --build . -j$(nproc)
    - name: Run tests (for sim)
      run: |
        cd build && ./tests